.header-container {
  background-image: url("../assets/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.75rem;

  @include breakpoint-up(large) {
    height: 17.5rem;
  }

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .header-title {
    margin-top: 1.875rem;
    margin-bottom: 2.125rem;
    font-weight: 500;
  }

  .input-container {
    width: 80%;
    max-width: 34.375rem;
    height: 3.75rem;
    display: flex;
  }

  .ip-input {
    width: 88%;
    border-bottom-left-radius: 0.9375rem;
    border-top-left-radius: 0.9375rem;
    font-size: $font-large;
    padding: 0 1.625rem;
    &::selection {
      border: none;
    }
    &:focus {
      border: none;
    }
  }

  .btn-submit {
    background-color: $black;
    max-height: 3.75rem;
    width: 12%;
    border-bottom-right-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    &:hover {
      background-color: $very-dark-gray;
    }
  }
  .ip-input,
  .btn-submit {
    cursor: pointer;
    height: 3.4375rem;
    border: none;
  }
}
