.address-info {
  background-color: $white;

  width: 80%;
  max-width: 600px;
  height: 295px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  position: absolute;
  top: 200px;
  /* transform: translateX(-50%); */
  left: 10%;

  z-index: 2;

  @include breakpoint-up(large) {
    max-width: none;
    width: 78%;
    height: 160px;
  }

  .info-container {
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    @include breakpoint-up(large) {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .info {
    margin-top: 25px;

    @include breakpoint-up(large) {
      width: 25%;
      margin-top: 40px;
    }
    p {
      text-align: center;
      color: $dark-gray;
      font-size: 10px;
      font-weight: 700;
      margin-bottom: 3px;

      @include breakpoint-up(large) {
        text-align: left;
      }
    }

    h4 {
      color: $very-dark-gray;
      font-weight: 500;
      font-size: 22px;
    }

    p,
    h4 {
      @include breakpoint-up(large) {
        padding-left: 35px;
        padding-right: 25px;
      }
    }
  }
  .space {
    @include breakpoint-up(large) {
      margin: auto 0;
      height: 80px;
      width: 0.1px;
      background-color: $light-gray;
    }
  }
}
