$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$light-gray: hsl(0, 0%, 83%);
$black: black;
$white: white;

$font-small: 10px;
$font-medium: 18px;
$font-ml: 20px;
$font-sml: 22px;
$font-large: 23px;
