@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.header-container {
  background-image: url("../assets/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.75rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 64em) {
  .header-container {
    height: 17.5rem;
  }
}
.header-container .header-title {
  margin-top: 1.875rem;
  margin-bottom: 2.125rem;
  font-weight: 500;
}
.header-container .input-container {
  width: 80%;
  max-width: 34.375rem;
  height: 3.75rem;
  display: flex;
}
.header-container .ip-input {
  width: 88%;
  border-bottom-left-radius: 0.9375rem;
  border-top-left-radius: 0.9375rem;
  font-size: 23px;
  padding: 0 1.625rem;
}
.header-container .ip-input::-moz-selection {
  border: none;
}
.header-container .ip-input::selection {
  border: none;
}
.header-container .ip-input:focus {
  border: none;
}
.header-container .btn-submit {
  background-color: black;
  max-height: 3.75rem;
  width: 12%;
  border-bottom-right-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
}
.header-container .btn-submit:hover {
  background-color: hsl(0deg, 0%, 17%);
}
.header-container .ip-input,
.header-container .btn-submit {
  cursor: pointer;
  height: 3.4375rem;
  border: none;
}

.address-info {
  background-color: white;
  width: 80%;
  max-width: 600px;
  height: 18.4375rem;
  border-radius: 0.9375rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: absolute;
  top: 200px;
  /* transform: translateX(-50%); */
  left: 10%;
  z-index: 2;
}
@media (min-width: 64em) {
  .address-info {
    max-width: none;
    width: 78%;
    height: 10rem;
  }
}
.address-info .info-container {
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 64em) {
  .address-info .info-container {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.address-info .info {
  margin-top: 1.5625rem;
}
@media (min-width: 64em) {
  .address-info .info {
    width: 25%;
    margin-top: 2.5rem;
  }
}
.address-info .info p {
  text-align: center;
  color: hsl(0deg, 0%, 59%);
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0.1875rem;
}
@media (min-width: 64em) {
  .address-info .info p {
    text-align: left;
  }
}
.address-info .info h4 {
  color: hsl(0deg, 0%, 17%);
  font-weight: 500;
  font-size: 1.375rem;
}
@media (min-width: 64em) {
  .address-info .info p,
.address-info .info h4 {
    padding-left: 2.1875rem;
    padding-right: 1.5625rem;
  }
}
@media (min-width: 64em) {
  .address-info .space {
    margin: auto 0;
    height: 5rem;
    width: 0.0063rem;
    background-color: hsl(0deg, 0%, 83%);
  }
}

.leaflet-container {
  z-index: 1;
  width: 100%;
  height: 71vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  height: 90vh;
  color: white;
  font-size: 18px;
}

.load-container {
  margin-top: 12.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.load-container img {
  margin: 0 auto;
}

.error-container {
  margin-top: 6.25rem;
  width: 100%;
  height: 18.75rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.error-container img {
  width: 12.5rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.error-container p {
  margin-top: 1.25rem;
  color: rgb(179, 0, 0);
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}